[2022-01-29 04:49] BRAVO68WEB opened #2 "[BACKEND] Create a model to store Minified Urls"
Create a model to store all minified URLs.

**Fields**  :-
* originalUrl (required)
* minifiedAlias (required)
* views
* enable timestamps

Create `backend/models/minifed_urls.js` to store your model Schema

[2022-01-29 04:56] BRAVO68WEB opened #3 "[BACKEND] Add data from /minify/add route to Database"
Create POST at /minify/add to take URLs, minified Alias as input (JSON), and store them in the database.

[2022-01-29 05:00] BRAVO68WEB opened #4 "[BACKEND] Delete data from Database via /minify/delete/:id route"
Create DELETE at /minify/delete/:id to take MongoDB Field id as input via parameter, and delete them from the database.

[2022-01-29 05:03] BRAVO68WEB opened #5 "[BACKEND] List all minified URLs from Database to /minify/all route"
Create GET route at /minify/all to list all URLs, minified Alias as JSON from the database.

[2022-01-29 05:10] BRAVO68WEB opened #6 "[BACKEND] List a specific minified URLs from Database to /minify/id/:id route"
Create a GET route at /minify/id/:id to list a specific URL and its's minified alias as JSON from the database.

[2022-01-29 05:15] BRAVO68WEB opened #7 "[BACKEND] List a specific minified URLs from Database to /minify/alias/:alias route"
Create GET route at /minify/alias/:alias to list a specific minified URL as JSON from the database.

Concept:- Search by MongoDB Collection Id

[2022-01-29 07:42] XxThunderBlastxX commented on #4
@BRAVO68WEB I am interested to do this issue , can you assign this issue to me ??

[2022-01-29 08:34] Sneha0324 opened #9 "Sneha Guota"
I'm interested in this project

[2022-01-29 10:35] BRAVO68WEB commented on #4
Yeah, sure I will keep that in mind

[2022-01-29 13:16] BRAVO68WEB commented on #9
@Sneha0324 Yeah sure, but if you want me discuss more connect to me at Bravo68-DF_Techs#6429 or the #url-minify channel is the JWOC server

[2022-01-29 15:30] #9 closed

[2022-01-30 07:03] dakshgupta2002 commented on #2
Interested!

[2022-01-30 08:54] BRAVO68WEB commented on #2
Noted. Will be assigned on 1st Feb

[2022-01-31 16:43] luxunator commented on #5
I would like to be assigned this issue on Feb 1st if possible.

[2022-01-31 18:22] chirag3003 commented on #5
I am interested

[2022-01-31 18:30] unnikrishnan2002 commented on #2
I want to work on this issue under JWOC

[2022-01-31 18:33] chirag3003 commented on #5
I want to work on this issue under JWOC

[2022-01-31 18:33] BRAVO68WEB commented on #2
@dakshgupta2002 Go ahead

[2022-01-31 18:33] chirag3003 commented on #2
I want to work on this issue under JWOC

[2022-01-31 18:33] chirag3003 commented on #4
I want to work on this issue under JWOC

[2022-01-31 18:33] XxThunderBlastxX commented on #4
I want to work on this issue under JWOC

[2022-01-31 18:37] BRAVO68WEB commented on #5
@luxunator Go ahead

[2022-01-31 18:38] chirag3003 commented on #7
I want to work on this issue under JWOC

[2022-01-31 18:39] DarkFalc0n opened #12 "[UI] Adding a logo and favicon to the project."

[2022-01-31 18:42] para-docx commented on #6
I want to work on this issue under JWOC

[2022-01-31 18:43] BRAVO68WEB commented on #12
Go ahead @DarkFalc0n

[2022-01-31 18:44] para-docx commented on #6
Excited to work with you

[2022-01-31 18:44] BRAVO68WEB opened #13 "[Frontend] Create a basic frontend skeleton"
use the Mock in #11

[2022-01-31 18:45] #13 closed

[2022-01-31 18:46] chirag3003 opened #14 "[Frontend] Create a basic frontend skeleton"

[2022-01-31 18:47] chirag3003 commented on #14
I want to work on this issue under JWOC

[2022-01-31 18:58] BRAVO68WEB commented on #2
Closeing issue

[2022-01-31 18:58] #2 closed

[2022-01-31 19:25] chirag3003 commented on #2
Bug Report:
The support for using import export is not enabled in this backend
you have to use require.
The backend is not compiling

[2022-01-31 20:02] BRAVO68WEB commented on #2
@chirag3003 fix and pr

[2022-01-31 20:34] raxvab commented on #12
I want to work with the issue under JWOC

[2022-01-31 20:49] BRAVO68WEB commented on #12
@raxvab, The issue was created by @DarkFalc0n , so this issue is assigned to him

[2022-01-31 20:55] BRAVO68WEB opened #17 "[BUG] Remove ES6 definition"
Remove ES6 Type definition from [model](https://github.com/BRAVO68WEB/url-minify/blob/main/backend/models/minifed_urls.js)

[2022-01-31 21:12] raxvab commented on #12
If i create an issue would i be auto assigned?

On Tue, 1 Feb, 2022, 2:19 am Jyotirmoy Bandyopadhyaya [Bravo68], <
***@***.***> wrote:

[2022-01-31 21:26] BRAVO68WEB commented on #12
@raxvab If you create a valid issue and I approve it
then yes.

But my approval is required

[2022-01-31 21:36] #17 closed

[2022-01-31 21:46] chirag3003 commented on #7
#16

[2022-01-31 21:47] #7 closed

[2022-01-31 21:49] chirag3003 commented on #14
Thanks, I will get started as soon as I get the assets

[2022-01-31 21:55] BRAVO68WEB opened #18 "[BACKEND] Edit data from Database via /minify/edit/:id route"
Create PATCH at /minify/edit/:id to take MongoDB Field id as input via parameter, and edit alias from the database.

[2022-02-01 05:16] dakshgupta2002 commented on #18
Can I work on this?

[2022-02-01 05:21] BRAVO68WEB commented on #18
@dakshgupta2002  Go ahead

[2022-02-01 07:25] whiteHatpro commented on #14
I want to work on this issue under JWOC

[2022-02-01 07:55] #3 closed

[2022-02-01 10:19] harshit-070 commented on #6
I want to work on this issue under JWOC

[2022-02-01 10:21] BRAVO68WEB commented on #6
@harshit-070 already assigned to @para-docx

[2022-02-01 13:27] BRAVO68WEB commented on #5
@luxunator Any updates on the issue?

[2022-02-01 15:16] #4 closed

[2022-02-01 15:24] BRAVO68WEB opened #21 "[FRONTEND] Added Navigation as shown in Preview"
Add Navigation Bar as shown ion navigation bar

Here :- ![UI](https://user-images.githubusercontent.com/41448663/151844736-29d6ed58-6fc5-4114-8912-3a53e4ee6504.png)

[2022-02-01 15:30] BRAVO68WEB opened #22 "[FRONTEND] Design a Text Box and Submit button"
Add a Text Box and Submit button as shown in the preview

Here :- ![UI](https://user-images.githubusercontent.com/41448663/151844736-29d6ed58-6fc5-4114-8912-3a53e4ee6504.png)

[2022-02-01 15:32] BRAVO68WEB opened #23 "[FRONTEND] Add a UI Component to show Features under the Text Box and Submit Button"
Here :- ![UI](https://user-images.githubusercontent.com/41448663/151844727-d85df415-4a8e-4d2b-a695-59e5edfb370f.png)

[2022-02-01 15:53] #14 closed

[2022-02-01 16:02] chirag3003 opened #25 "[FRONTEND] Setup axios instances"

[2022-02-01 16:02] chirag3003 commented on #25
set Axios instances for API integration so that we don't have write the whole config everytime when calling the api

[2022-02-01 16:05] BRAVO68WEB commented on #25
@chirag3003 Go ahead

[2022-02-01 16:06] logan4473 commented on #21
I want to work on this issue under JWOC.

[2022-02-01 16:20] DarkFalc0n commented on #12
I am also adding a favicon to the project with the logo

[2022-02-01 16:20] BRAVO68WEB commented on #12
Ok

[2022-02-01 16:36] aaheli8 commented on #22
I want to work on this issue under JWOC

[2022-02-01 16:54] BRAVO68WEB commented on #22
Go ahead @aaheli8

[2022-02-01 17:34] dakshgupta2002 commented on #23
Can i be assigned to this issue?

[2022-02-01 20:03] #5 closed

[2022-02-01 20:03] #18 closed

[2022-02-01 20:04] #12 closed

[2022-02-01 20:07] BRAVO68WEB opened #31 "[BACKEND] Implement Authentication in Backend"
Use JWT to create /auth and implement authentication in specific routes

[2022-02-01 20:08] chirag3003 commented on #31
I want to work on this issue under JWOC

[2022-02-01 20:09] chirag3003 commented on #31
I will first implement this one

[2022-02-01 20:57] chirag3003 commented on #25
Pls reassign this issue to me

[2022-02-01 21:02] BRAVO68WEB commented on #25
Ok I have reassigned @chirag3003

[2022-02-01 21:03] #31 closed

[2022-02-02 13:01] #21 closed

[2022-02-02 13:02] BRAVO68WEB commented on #23
@dakshgupta2002

[2022-02-02 13:08] BRAVO68WEB opened #34 "[FRONTEND] Create Login and Registration page"
Add a UI and create both Login and Registration pages at /login and /register

[2022-02-02 13:11] DarkFalc0n commented on #34
I want to work on this issue under JWOC

[2022-02-02 13:11] BRAVO68WEB commented on #34
Go ahead

[2022-02-03 06:37] #22 closed

[2022-02-03 09:58] whiteHatpro commented on #34
I want to work on this issue under JWOC

[2022-02-03 15:08] Rik-21 commented on #34
Can i work on it under JWoC

[2022-02-04 13:22] BRAVO68WEB opened #36 "[FRONTEND] Create Basic Dashboard for Users"
Create a Basic Dashboard for Logged-in users

Reference:-
![Overview Page](https://user-images.githubusercontent.com/41448663/152535786-394a70f7-f429-4b25-b96e-017a0412619d.png)

This UI is bound to change with modern UI soon. So, only make skeleton

[2022-02-04 13:25] logan4473 commented on #36
I want to work on this issue under JWOC.

[2022-02-04 13:26] BRAVO68WEB commented on #36
A Team of 3 Require for this

2 people: Basic UI
1. person Graphs

[2022-02-04 13:27] BRAVO68WEB commented on #36
@logan4473 Wait for sometime

I will assign this to 3 people

[2022-02-04 13:27] BRAVO68WEB commented on #36
I am waiting for others to comment

[2022-02-04 13:28] logan4473 commented on #36
Got it

[2022-02-04 13:30] BRAVO68WEB commented on #34
@whiteHatpro work with @DarkFalc0n and complete it together

[2022-02-04 13:37] chirag3003 commented on #36
I want to work on this issue under JWOC.

[2022-02-04 13:37] chirag3003 commented on #36
I would like to work on graphs

[2022-02-04 13:51] BRAVO68WEB commented on #36
Got 2

[2022-02-04 13:51] BRAVO68WEB commented on #36
One more

[2022-02-04 13:56] logan4473 commented on #36
I would like to work on Menus and Button

[2022-02-04 16:02] #23 closed

[2022-02-05 11:52] BRAVO68WEB opened #38 "[INTEGRATION] Implement URL redirect in Frontend"
Add functionality to redirect user to specific website according to alias passed to actual domain

Use NextJS API + Fronted Both
2 People [work as a team].

[2022-02-05 11:54] BRAVO68WEB opened #39 "[BACKEND + INTEGRATION] Increase View counts when visited"
Increase View by one when ever someone visits a minified URL.

[2022-02-05 11:57] BRAVO68WEB opened #40 "[INTEGRATION] Generate a new minified URL"
When ever a user enters a new URL, make a request to backend to Create a short code and return the entire minified URL as well as copy the same to clip board

[2022-02-05 12:00] BRAVO68WEB commented on #25
@chirag3003 When will you PR?

[2022-02-05 13:27] logan4473 commented on #38
I want to work on this issue under JWOC.

[2022-02-05 17:48] BRAVO68WEB commented on #38
Ok go ahead

[2022-02-05 17:49] BRAVO68WEB commented on #38
But complete the y existing first

[2022-02-05 19:01] Lunatix01 opened #41 "[BACKEND] Generate a QR code for the minified url"
Hello i want to implement a feature like that for it

[2022-02-05 19:25] BRAVO68WEB commented on #41
@Lunatix01 Backend?

[2022-02-05 19:27] BRAVO68WEB commented on #41
Ok then, sure no issues

This issue is opened for you to claim

But not now. Let the existing issues close

[2022-02-05 21:26] Lunatix01 commented on #41
well it can be implemented in the front end too, i think the front end is much easier so no need to store the qr code, i will claim it
i will wait till the existing issues close

[2022-02-06 08:56] BRAVO68WEB commented on #36
@chirag3003 @logan4473 New UI is here
![Overview UI](https://user-images.githubusercontent.com/41448663/152674005-247ef869-a034-4005-9cc3-dfa3d4477718.png)

[2022-02-06 13:13] aaheli8 commented on #36
Can I work on this issue?

[2022-02-06 13:31] BRAVO68WEB commented on #36
Yes Sure

[2022-02-07 20:38] BRAVO68WEB commented on #36
@aaheli8 @chirag3003 @logan4473 What's the progress?

[2022-02-07 20:38] BRAVO68WEB commented on #34
What's the progress? @DarkFalc0n @whiteHatpro

[2022-02-07 20:39] BRAVO68WEB commented on #25
@chirag3003 What's the progress?

[2022-02-07 21:30] whiteHatpro commented on #34
@BRAVO68WEB i have done with my part

[2022-02-08 02:40] aaheli8 commented on #36
@BRAVO68WEB I have to make the basic UI layout?

[2022-02-08 03:17] BRAVO68WEB commented on #36
@aaheli8 Discuss with the other two

[2022-02-08 03:18] BRAVO68WEB commented on #34
Ok then make a PR

[2022-02-08 05:27] Rik-21 commented on #34
can i work on this issue under JWoc

[2022-02-08 06:53] whiteHatpro commented on #34
@BRAVO68WEB falcon has still has some work to do on his end

[2022-02-08 07:55] dakshgupta2002 commented on #40
Interested in this...

[2022-02-08 08:10] BRAVO68WEB commented on #34
Ok then, both of you finish your work and then do PR

[2022-02-08 08:33] BRAVO68WEB commented on #40
Ok @dakshgupta2002

[2022-02-08 16:16] BRAVO68WEB commented on #34
@whiteHatpro Where is your PR?

[2022-02-09 09:06] whiteHatpro commented on #34
@BRAVO68WEB i have created the pr

[2022-02-11 13:09] ronitblenz commented on #39
I want to work on this issue

[2022-02-12 05:32] BRAVO68WEB commented on #39
Ok @ronitblenz

[2022-02-12 06:04] BRAVO68WEB commented on #34
@whiteHatpro any progress?

[2022-02-12 06:36] whiteHatpro commented on #34
@BRAVO68WEB sorry, but i am not able to link the pages

[2022-02-12 06:36] whiteHatpro commented on #34
If u want to assign someone else please go ahead.

[2022-02-12 07:40] BRAVO68WEB commented on #34
Ok fine

[2022-02-12 11:30] ronitblenz commented on #39
I cant do this, I thought it had HTML,CSS
I dont have knowledge regarding JS Frameworks.
I really apologise
Hope so, Someone can solve this issue, thats why I am unassigning myself

Thanks for understanding and sorry again

[2022-02-12 16:37] harshit-070 commented on #39
I want to work on this issue under JWOC

[2022-02-12 16:40] harshit-070 commented on #25
I want to work on this issue under JWOC

[2022-02-12 17:37] BRAVO68WEB commented on #39
Go ahead

[2022-02-12 17:38] BRAVO68WEB commented on #39
But await wait till #38

[2022-02-13 06:05] #25 closed

[2022-02-13 06:16] dakshgupta2002 commented on #38
I want to work as a team on this issue under JWOC.

[2022-02-13 06:16] dakshgupta2002 commented on #40
Merged

[2022-02-13 06:22] BRAVO68WEB opened #50 "[FRONTEND] Create 404"
Create 404 and redirect to 404 page if link don't exist

[2022-02-13 06:23] itsGKRam commented on #50
I want to work on this issue under JWOC

[2022-02-13 08:38] BRAVO68WEB opened #51 "[FRONTEND] Replace the TextBox with new Minified URL"
Replace the TextBox with new Minified URL

[2022-02-13 08:42] chirag3003 commented on #51
I want to work on this issue under JWOC

[2022-02-13 08:43] BRAVO68WEB commented on #38
Done by me as it was opened for a long time

[2022-02-13 10:53] BRAVO68WEB commented on #40
Add @dakshgupta2002 as a contributor for code.

[2022-02-13 12:12] #40 closed

[2022-02-15 13:30] BRAVO68WEB opened #62 "[INTEGRATION] Integrate Login Form for users to login"
Wait for completion of #34

[2022-02-15 13:31] BRAVO68WEB opened #63 "[FRONTEND] Create Link page for Logged In users in dashboard"
Reference :-
![Create Link Page](https://user-images.githubusercontent.com/41448663/154072021-d9ceec0b-faf9-4ae4-bb4c-f14eb2f95f00.png)

[2022-02-15 14:34] 03amir commented on #63
i want to work on this issue under jwoc

[2022-02-15 15:14] BRAVO68WEB commented on #63
ok

[2022-02-15 17:25] #51 closed

[2022-02-16 08:49] Shruti025 commented on #50
Is this issue still unresolved? If yes then can I work on it under JWOC?

[2022-02-17 15:50] BRAVO68WEB commented on #50
@Shruti025 Go ahead

[2022-02-19 16:15] #41 closed

[2022-02-19 16:16] #63 closed

[2022-02-22 03:28] BRAVO68WEB commented on #62
@03amir Do ahead

[2022-02-23 21:25] XxThunderBlastxX commented on #39
i want to work on this issue under JWOC

[2022-02-24 09:39] #50 closed

[2022-02-24 13:52] DarkFalc0n commented on #62
I want to work on this issue under JWOC

[2022-02-24 14:05] BRAVO68WEB commented on #62
Go ahead @DarkFalc0n

[2022-02-25 14:34] hazemessam commented on #39
I want to solve this issue under GSSoC 22.

[2022-02-25 14:40] BRAVO68WEB commented on #39
@hazemessam Right now we are participating in JWOC

[2022-02-25 16:18] hazemessam commented on #39
Ok, I already worked on it and added this feature to the backend. If this issue is not solved after a while, you can assign it to me to make a PR.

[2022-02-25 16:27] BRAVO68WEB commented on #39
Sure But I will only accepts PRs after 1 Mar or else its considered as Open Source Contribution not for GSSoC

[2022-02-25 16:42] hazemessam commented on #39
Ok, I will make a PR on 1 Mar.

[2022-02-26 07:03] chirag3003 commented on #36
@BRAVO68WEB sorry for taking so much time I was busy with my exams I will make a pr today

[2022-02-26 13:53] Gurdeep475 commented on #62
i would like to contribute on this issue under GSSOC`22

[2022-02-26 14:12] Gurdeep475 commented on #39
I would like to work on this issue under GSSOC`22.

[2022-02-28 18:26] BRAVO68WEB opened #72 "[FRONTEND] Add Functionality to View All Links created by a User"
Design :-
![My links](https://user-images.githubusercontent.com/41448663/156037536-c9ca4acd-f93b-412f-a6e1-ca5a225c244f.png)

Do's :-
Create Demo Items and add 5 demo items as links

Don'ts :-
Don't integrate with Backend

[2022-02-28 18:37] hazemessam commented on #72
I want to work on this issue under GSSoC'22

[2022-02-28 18:40] BRAVO68WEB opened #74 "[Integration] List All User Generated Links to 'My Links' Section"
Design :-
![My links](https://user-images.githubusercontent.com/41448663/156039199-bcaaeefa-6959-4132-b8dd-c863266d2154.png)

Do's :-
* Only list user specific links for specific users.

[2022-02-28 18:41] BRAVO68WEB commented on #72
Ok go ahead

[2022-02-28 18:42] hazemessam commented on #39
@BRAVO68WEB,  I think you can assign it to me now under GSSoC'22

[2022-02-28 18:43] BRAVO68WEB commented on #39
@hazemessam He did it.

[2022-02-28 18:44] #39 closed

[2022-02-28 18:45] BRAVO68WEB commented on #74
Wait for Completion of #72

[2022-02-28 18:51] BRAVO68WEB commented on #62
@Gurdeep475 Assigning it to you

[2022-02-28 18:53] hazemessam commented on #72
I'm sorry I didn't notice that it is a frontend task.

[2022-02-28 18:54] hazemessam commented on #72
please unassign me and reassign me to this issue #74

[2022-02-28 18:58] BRAVO68WEB commented on #72
@hazemessam That's also Frontend + Integration

[2022-02-28 18:58] BRAVO68WEB commented on #72
I will create more Backend Issues tomorrow, you may take those

[2022-03-01 03:33] aadityasinha-dotcom commented on #72
Is this available?
Can I work on this issue under GSSOC'22?

[2022-03-01 05:41] BRAVO68WEB commented on #72
Yes Go ahead

[2022-03-01 06:05] prachigarg19 commented on #74
I can work on this @BRAVO68WEB

[2022-03-01 06:09] BRAVO68WEB commented on #74
You participating for JWOC or GSSOC?

[2022-03-01 06:32] himanshusanecha opened #76 "Direct use of req.body in CRUD operations"
**Describe the bug**
All the data being created/updated are directly using req.body, therefore if any vulnerable data is passed then there are no checks of what will be saved in the database.

**To Reproduce**
Steps to reproduce the behavior:
1. Use create URL API, and pass anything other than specified parameters and it will be saved in the database.

**Expected behavior**
The other parameters of

[2022-03-01 06:33] himanshusanecha commented on #76
I want to work on this issue under GSSOC 2022.

[2022-03-01 08:17] HarshKumarChoudary commented on #74
I'm participating in GSSOC 22. I want to work on this issue. Please assign it to me.

[2022-03-01 09:19] BRAVO68WEB commented on #74
OK

[2022-03-01 09:20] BRAVO68WEB commented on #74
Assigning to @HarshKumarChoudary but wait for #72

[2022-03-01 14:32] Palak-137 opened #77 "Enhance the documentation"
Currently, the documentation was not that clear for anyone coming for the first time to the repo. You can use your writing skills to enhance the documentation of the project, like writing elaborated readme.
It can be funky and should help the readers to learn more about the project.

[2022-03-01 14:52] Debajyoti14 commented on #77
I would like to update the documentation
Please assign it to me

[2022-03-01 15:09] #36 closed

[2022-03-01 15:13] Palak-137 opened #78 "Fix the broken UI page after minifying the URL"
When we minify the URL you are automatically directed to the 404 page. Although the backend is returning the minify URL it still won't show it. we need proper UI to fix that.

**Expected behavior**
 After minifying the URL and QR code with good UI

[2022-03-01 15:13] Gurdeep475 commented on #62
Thanks. I am working on it.

[2022-03-01 15:19] Palak-137 opened #79 "Integrating the link page for the logged in user."
A user who is already logged in should be able to make access the custom link page where he can add a custom alias for the URL. the page is already built we just need to integrate it with the current application.

This will help the user to access the various feature after logging in only.

[2022-03-01 15:35] Rajdip019 commented on #78
Hey, Can I work on this?

[2022-03-01 15:55] BRAVO68WEB commented on #78
@Palak-137 Fixed

[2022-03-01 15:55] #78 closed

[2022-03-01 16:27] Tejas-117 opened #81 "Make all pages responsive."
**Describe the bug**
The pages doesn't scale well for mobile devices.

![Screenshot](https://user-images.githubusercontent.com/75026048/156207869-8a3a29d5-a6c1-4a33-b6d6-ee30fa714275.png)

I would like to work on this issue under GSSOC 2022.

[2022-03-01 17:10] #76 closed

[2022-03-01 17:11] BRAVO68WEB commented on #81
Go ahead

[2022-03-01 17:11] BRAVO68WEB commented on #81
Make sure sure to make all pages responsive

[2022-03-01 19:40] himanshusanecha commented on #79
If this issue is still available, I can work upon it.

Some insights on how it will be implemented -
1. Creating a page of alias management (frontend) - where user can create, delete or read alias.
2. Creating api's to manage aliases of a user.
3. While a user is minifying a URL - he/she can select the aliases from his/her list.
4. While user is adding a URL we will check if the alias has been sel

[2022-03-01 23:28] Sakshi-Gupta06 opened #82 "Typography and UI"
all the fonts are the same, it looks bad and unclear to user.
and UI of footer also
I want to work in this

please assign me

[2022-03-02 02:25] BRAVO68WEB opened #83 "[Backend] Blacklist some alias from being create"
Ban custom alias keywords like the following :-
  * 404
  * dashboard
  * qr
  * credits
  * github
  * admin
  * geo
  * all
  * me
  * go
  * upload
  * download
  * link
  * about
  * tos
  * faqs

 No one should be able to create backend aliases with these key words, while creating custom aliases

[2022-03-02 02:33] BRAVO68WEB opened #84 "[BACKEND] Prevent duplicate alias creation"
Prevent create creation of duplicate alias creating.

Approach :-
1. For /minify/add :- Check database if auto generated alias if present or not. If present regenerate.
2. For /minify/add/custom :- Add an additional endpoint /minify/alias/:alias/status
                     Here check in database if already present, if yes return {"success": "false"} else  {"success": "true"}

[2022-03-02 02:35] BRAVO68WEB commented on #82
@Palak-137

[2022-03-02 02:38] BRAVO68WEB commented on #79
@himanshusanecha This one just for linking/integration

Check #67 > Here the link page is already created.

Are you willing to integrate.

[2022-03-02 03:25] Tejas-117 commented on #81
Thanks I am working on it.

[2022-03-02 04:40] HarshKumarChoudary commented on #74
I'm waiting till #72  is not over. Thanks.

[2022-03-02 07:58] Palak-137 commented on #82
@Sakshi-Gupta06  you can proceed! happy to help

[2022-03-02 09:21] himanshusanecha commented on #83
I am interested to work on this issue.

[2022-03-02 11:56] Devmindtk commented on #79
I would like to work on this issue under GSSoc 22 .please assign it to me

[2022-03-02 12:14] BRAVO68WEB commented on #79
Go ahead @Devmindtk

[2022-03-02 15:08] 404-Terror commented on #82
I want to improve the home page UI and also looking to add some small animations using framer-motion.

Please assign me.

[2022-03-02 19:20] Devmindtk commented on #79
could you please help me I am not able to run it into my localhost

[2022-03-03 02:26] BRAVO68WEB commented on #79
@Devmindtk
Clone the Repo and follow here
https://github.com/BRAVO68WEB/url-minify/blob/main/HOW_TO_CONTRIBUTE.md#for-front-end

[2022-03-03 06:53] 404-Terror opened #86 "Animations on Home Page"
I want to add some simple and cool animations on the home page UI using framer-motion. e.g - I want each letters of "URL MINIFY" to scale up and down and have some color change on hover.

Please assign me @Palak-137 ma'am.

[2022-03-03 11:21] BRAVO68WEB commented on #86
@Palak-137

[2022-03-04 17:18] Faraaz2633 opened #89 "UI fix and font-size"
Hey there,
On the main page, there is an extra margin at the bottom and the login button size is also not correct,
I would like to work on this issue.
could you please assign it to me under GSSoC and JWOC?

[2022-03-05 03:28] BRAVO68WEB commented on #89
already assigned #82

[2022-03-05 06:39] Palak-137 commented on #86
you can proceed @404-Terror

[2022-03-05 09:53] Faraaz2633 commented on #89
But Level one / Easy issue should not take more than one day right?

[2022-03-05 11:05] BRAVO68WEB commented on #89
@Faraaz2633 Its not JWOC and also I don't enforce rules as they are here to learn.

[2022-03-05 11:05] BRAVO68WEB commented on #62
@Gurdeep475 What's your progress?

[2022-03-05 11:06] BRAVO68WEB commented on #72
@aadityasinha-dotcom What's your progress?

[2022-03-05 11:06] BRAVO68WEB commented on #77
What's your progress? @Debajyoti14

[2022-03-05 11:07] BRAVO68WEB commented on #79
@Devmindtk What's your progress?

[2022-03-05 11:07] BRAVO68WEB commented on #82
@Sakshi-Gupta06 What's your progress?

[2022-03-05 11:08] BRAVO68WEB commented on #84
@Nanzzie What's your progress?

[2022-03-05 11:09] aadityasinha-dotcom commented on #72
Almost done.

![Screenshot from 2022-03-05 16-38-44](https://user-images.githubusercontent.com/75474786/156880570-0a9ffd56-09e0-49b8-b7e2-5e5b628c87f8.png)

[2022-03-05 11:10] BRAVO68WEB commented on #72
Ok

[2022-03-05 11:50] Gurdeep475 commented on #62
Sorry, I got busy up with college work, I will start working from today. @BRAVO68WEB can you given some guidance on what needs to be done, the backend part seems to be already having other required routes and controllers.

[2022-03-05 12:32] BRAVO68WEB commented on #72
@aadityasinha-dotcom Have you button to open this menu?

From left side in nav menu

[2022-03-05 12:33] aadityasinha-dotcom commented on #72
Yes

[2022-03-05 12:34] BRAVO68WEB commented on #62
You need to have authentication integrated with frontend so respected users can login to dashboard with their email and password

@Gurdeep475

[2022-03-05 12:35] BRAVO68WEB commented on #72
How to open it?

[2022-03-05 13:31] aadityasinha-dotcom commented on #72
/myLinks

[2022-03-05 21:18] Devmindtk commented on #79
I know the solution of issue but facing issue to run this project on my localhost.

[2022-03-05 22:49] omar-sherif9992 opened #91 "adding loading feature when page refreshes"
**Describe the solution you'd like**
I will create a page loader made by CSS

[2022-03-06 02:58] BRAVO68WEB commented on #79
@Devmindtk What is the issue?

Make sure you configure .env in order to run the project.

[2022-03-06 03:00] BRAVO68WEB commented on #91
@Palak-137

[2022-03-06 03:47] Palak-137 commented on #91
Go ahead @omar-sherif9992

[2022-03-06 10:03] #89 closed

[2022-03-06 14:32] #91 closed

[2022-03-06 14:47] #81 closed

[2022-03-06 15:48] #72 closed

[2022-03-06 15:56] BRAVO68WEB commented on #74
@HarshKumarChoudary You may start working now #72 is fixed

[2022-03-07 02:26] aadityasinha-dotcom commented on #79
Can I work on this issue?

[2022-03-07 10:27] mrudulkolambe opened #97 "User Data Addition In Database"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-03-07 10:29] mrudulkolambe opened #98 "User Data Addition In Database and user registration completed"
**Is your feature request related to a problem? Please describe.**
User signup completed using axios and creation of account completed

**Additional context**
![image](https://user-images.githubusercontent.com/83169198/157014098-f88894dc-0407-48ef-9f8f-082f323086d7.png)

[2022-03-07 10:40] #97 closed

[2022-03-07 10:42] BRAVO68WEB commented on #79
@Devmindtk any updates?

[2022-03-07 10:42] BRAVO68WEB commented on #62
@Gurdeep475 any updates?

[2022-03-07 11:38] #98 closed

[2022-03-08 07:35] Tejas-117 commented on #62
@BRAVO68WEB I would like to work on this under GSSOC 2022.

[2022-03-08 11:19] Devmindtk commented on #79
Yeah try to solve will update you by today

[2022-03-08 12:35] aadityasinha-dotcom commented on #79
@Devmindtk If you got any query/problem you can discuss it on discord.

[2022-03-09 04:52] BRAVO68WEB commented on #62
@Tejas-117 go ahead

[2022-03-09 04:57] #77 closed

[2022-03-09 07:26] 404-Terror opened #103 "Customize the 404 Page"
The 404-page looks a bit more simple and the colors give a success vibe rather than an error. So I would like to make some changes.

Please assign me. @Palak-137

[2022-03-09 10:13] BRAVO68WEB commented on #103
@Palak-137 Look into this. Assign if req.

[2022-03-10 10:15] Tejas-117 opened #105 "Fix sidebar bugs."
I would like to fix the bugs in dashboard sidebar@BRAVO68WEB mentioned.

[2022-03-10 11:06] BRAVO68WEB commented on #62
@Tejas-117 Any progress?

[2022-03-10 11:12] BRAVO68WEB commented on #84
@Nanzzie Any progress?

[2022-03-10 11:12] BRAVO68WEB commented on #84
Or shall I assign?

[2022-03-10 11:13] #86 closed

[2022-03-10 12:14] Tejas-117 commented on #62
@BRAVO68WEB Yes, I implemented front end part of posting, showing message etc.
I will complete backend aspects soon.

[2022-03-10 12:25] BRAVO68WEB commented on #62
Ok

[2022-03-10 13:05] Palak-137 commented on #105
go ahead @Tejas-117

[2022-03-10 13:28] Nanzzie commented on #84
Yess sir u can unassign it

On Thu, 10 Mar 2022, 16:42 Jyotirmoy Bandyopadhyaya [Bravo68], <
***@***.***> wrote:

[2022-03-11 04:49] BRAVO68WEB commented on #105
@Tejas-117 "My links" not accessible from mobile

[2022-03-11 04:49] BRAVO68WEB commented on #105
SlideBar fixed

[2022-03-11 04:50] BRAVO68WEB commented on #105
Make one more pr

[2022-03-11 04:52] BRAVO68WEB commented on #82
No updates revieved

[2022-03-11 04:52] #82 closed

[2022-03-11 05:57] Tejas-117 commented on #105
@BRAVO68WEB Ok, noticed it now. I will fix it.

[2022-03-11 05:59] BRAVO68WEB commented on #105
Ok fine

[2022-03-11 17:47] mrudulkolambe opened #108 "Login User"
**Is your feature request related to a problem? Please describe.**
Enabled login user functionality

**Additional context**
![image](https://user-images.githubusercontent.com/83169198/157921870-895ea9c7-7342-46b5-903c-8be898e35e70.png)

[2022-03-12 03:43] BRAVO68WEB opened #111 "[FRONTEND] Enhance Features Section on Home Page"
Follow the Design here :- ![here](https://user-images.githubusercontent.com/41448663/151844727-d85df415-4a8e-4d2b-a695-59e5edfb370f.png)

[2022-03-12 05:34] 404-Terror commented on #111
I want to work on this.

[2022-03-12 09:43] #103 closed

[2022-03-12 11:57] mustali17 opened #112 "Implement Light and Dark Mode"
A website should be user-friendly offering both types of modes as per convenience!

[2022-03-12 11:58] mustali17 commented on #112
I want to work on this issue under GSSoC'22

[2022-03-12 13:37] BRAVO68WEB commented on #112
Ok

[2022-03-12 13:37] BRAVO68WEB commented on #112
Go ahead

[2022-03-12 17:17] #111 closed

[2022-03-13 05:26] 404-Terror opened #116 "Minify Button Disability Bug"
**Overview**
Whenever there is no URL in the input box, on clicking the button it gets disabled(which forces users to refresh every time). Also when we click the cross button on the short url textbox, the QR Code still remains and the same happens when after having a code if we click on 'minify' using a blank url in the input box.

**Fix**
- Remove the disability function and instead add an error

[2022-03-13 06:17] 404-Terror commented on #116
@Palak-137 ma'am...please assign me

[2022-03-14 09:17] #105 closed

[2022-03-14 09:18] #108 closed

[2022-03-14 09:22] BRAVO68WEB commented on #116
Its a Feature
```Remove the disability function and instead add an error popup message for blank input.```

Don't worry about it, it their so that people can't click multiple times and create multiple minified URL for particular link.

Instead give a timeout

[2022-03-14 09:23] BRAVO68WEB commented on #116
Go ahead @404-Terror

[2022-03-14 11:35] 404-Terror commented on #116
Okay

[2022-03-14 16:45] #116 closed

[2022-03-14 19:14] 404-Terror opened #118 "Add a start over button"
After generating a minified url, on clicking a button the input box will become empty and user can enter a new URL.

[2022-03-15 02:55] BRAVO68WEB commented on #118
Go ahead

[2022-03-15 11:55] Danko-chan commented on #84
is it still unresolved? If yes, then i would like to try.

[2022-03-15 13:55] BRAVO68WEB commented on #84
@Danko-chan PR under review. Lets See

You may create Issues if you want to contribute

[2022-03-17 03:53] BRAVO68WEB commented on #84
@Danko-chan Go ahead

[2022-03-17 03:54] BRAVO68WEB commented on #62
@Tejas-117 Any updates?

If not then I will work on this. Its Ok if you can't

[2022-03-19 18:47] Palak-137 opened #122 "Contributors page"
Made the frontend of the contributor's page, as it an open-source helps the user to track the people who contributed to the projects.
1. design for the page is given below
2. it should be responsive
3. try to make it with the same font.

![image](https://user-images.githubusercontent.com/54790525/159134378-0d79379a-4774-4d2e-ad20-6414688bb574.png)

[2022-03-19 18:49] Palak-137 opened #123 "footer for the pages"
make the footer for the website,
the design was similar to the below image and
it should be responsive.

![image](https://user-images.githubusercontent.com/54790525/159134521-aa3e3d8a-330f-45ff-a301-6a1aa97aeaab.png)

[2022-03-19 18:54] Palak-137 opened #124 "integrate the github api"
To show the contributors you can implement the GitHub API to reduce the manual work.
refer to issue: #122

[2022-03-19 21:39] Olaleye-Blessing commented on #122
Can I work on this issue?

[2022-03-20 06:20] #118 closed

[2022-03-20 07:59] rakeshhotker commented on #122
@Palak-137 should this contributors page be linked to CREDITS, and i am assuming that top three contributors be displayed in the contributors page, please let me about my assumption

[2022-03-20 13:39] BRAVO68WEB commented on #122
No @rakeshhotker, It will display all contributors

You have to make a template and we will a design page for storing those github username, pic and name.

For now make it static

[2022-03-20 13:40] BRAVO68WEB commented on #122
Latter in #124 We will make it dynamic

[2022-03-20 16:09] rakeshhotker commented on #122
should i link the contributors page to credits, so as to display that page when credits is clicked?

[2022-03-20 16:19] BRAVO68WEB commented on #122
Yes

[2022-03-20 19:02] rakeshhotker commented on #122
@BRAVO68WEB am having to rebuild the whole app after making changes to be able to see them, is there way to do hot reloading, without changing the backend, as am just following the guidelines for making changes to frontend and thus i cd'ed to frontend and working on frontend

[2022-03-20 20:14] rakeshhotker commented on #122
@BRAVO68WEB should i hardcode the contributors or use github api to fetch and display contributors data

[2022-03-21 02:06] BRAVO68WEB commented on #122
Hardcode

[2022-03-21 02:07] BRAVO68WEB commented on #122
But as a function template to which we need to pass array and it automatically create cards

If you can't then also it's ok

[2022-03-21 02:08] BRAVO68WEB commented on #112
@mustali17 Updates?

[2022-03-21 09:00] himanshusanecha commented on #124
I am interested to work upon this issue.

[2022-03-21 14:14] BRAVO68WEB commented on #124
Ok go ahead @himanshusanecha

[2022-03-21 14:15] BRAVO68WEB commented on #124
Wait for #122

[2022-03-21 17:03] akankshat05 commented on #123
Can I work on this?

[2022-03-21 17:37] rakeshhotker commented on #122
@BRAVO68WEB made the contributors page following the design, the cards can be created using array.map and passing the details to the divs mentioned, although i hard coded it for now. should i create a pull request? do let me know what all i should take care of before creating a pull request

[2022-03-21 17:47] BRAVO68WEB commented on #123
Go ahead @akankshat05

[2022-03-22 17:30] 404-Terror commented on #112
I would like to work on it.

[2022-03-23 09:39] chirag3003 commented on #62
@BRAVO68WEB assign it to me

[2022-03-23 09:41] #62 closed

[2022-03-23 17:24] BRAVO68WEB commented on #124
@himanshusanecha Go ahead

[2022-03-23 17:26] himanshusanecha commented on #124
sure @BRAVO68WEB

[2022-03-24 09:39] BRAVO68WEB commented on #79
@aadityasinha-dotcom any updates

[2022-03-24 09:56] BRAVO68WEB commented on #74
Use this https://github.com/BRAVO68WEB/url-minify/commit/f3b175d87b4b9d78805dd28fc4ed7ac6a6974657

[2022-03-24 11:43] #84 closed

[2022-03-25 06:57] #83 closed

[2022-03-25 06:57] aadityasinha-dotcom commented on #79
Can you tell me what changes have been made to the login page?

[2022-03-25 07:03] BRAVO68WEB commented on #79
You just need to do this.

When ever someone clicks on Create Link from Dashboard, open the Page and integrated it with backend.

When the user is setting his custom, make a get request simultaneously to check weather it is available or not.
If available show below the text box in green color that "Alias is available" or in red "Alias is not available"

[2022-03-25 07:03] BRAVO68WEB commented on #79
@aadityasinha-dotcom

[2022-03-25 07:04] BRAVO68WEB commented on #79
Page component is already created only integration left

[2022-03-25 07:08] aadityasinha-dotcom commented on #79
Okay, got it.

[2022-03-25 12:42] #122 closed

[2022-03-25 12:42] BRAVO68WEB commented on #122
@all-contributors please add @rakeshhotker  for code

[2022-03-25 12:50] BRAVO68WEB commented on #74
@HarshKumarChoudary Updates?

[2022-03-27 17:17] BRAVO68WEB commented on #124
@himanshusanecha Any updates?

[2022-03-27 17:18] BRAVO68WEB commented on #123
@akankshat05 any updates?

[2022-03-27 17:48] akankshat05 commented on #123
@BRAVO68WEB I'm working on it.

[2022-03-28 02:15] himanshusanecha commented on #124
I will complete it by tomorrow for sure. @BRAVO68WEB

[2022-03-28 18:07] BRAVO68WEB opened #132 "Facing a CORS issue"
**Describe the bug**
Facing a CORS issue while sign up and login in

**Expected behavior**
sign up / login in to work properly

[2022-03-28 18:59] BRAVO68WEB commented on #132
FIxed

[2022-03-28 19:10] #132 closed

[2022-03-29 11:42] Danko-chan commented on #112
Hey, I would like to work on it.

[2022-03-29 11:43] Danko-chan commented on #74
I would like to work on it. @BRAVO68WEB

[2022-03-29 13:26] BRAVO68WEB commented on #112
Go ahead @Danko-chan

[2022-03-29 13:27] BRAVO68WEB commented on #74
Ok @Danko-chan

[2022-04-01 04:58] Prikshit-anthal opened #134 "Not enabling Minify button when another link is added after minifing first link."
**Describe the bug**
When one link is minified, and i change link in text box . button is disabled and doesn't revert back to minify state.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home'
2. Add any link in input box
3. Click on 'minify' button
4. Now choose anther link and change previous link.
5. Observe button is still disabled and shows minified after changing link.

**Expec

[2022-04-01 04:58] Prikshit-anthal commented on #134
I am GSSoc'22 contributer kindly assign me this issue

[2022-04-01 06:19] BRAVO68WEB commented on #134
@Prikshit-anthal That's the reason why we have a start over button

[2022-04-01 15:36] Prikshit-anthal commented on #134
@BRAVO68WEB where is that button, i didn't see it.

[2022-04-02 12:14] BRAVO68WEB commented on #134
![image](https://user-images.githubusercontent.com/41448663/161382655-6e51bd71-9fe3-4e28-83a1-eeaa7ccd250b.png)

[2022-04-02 12:14] BRAVO68WEB commented on #134
@Prikshit-anthal

[2022-04-02 12:15] BRAVO68WEB commented on #124
@himanshusanecha Updates?

[2022-04-02 12:16] BRAVO68WEB commented on #112
@Danko-chan Any updates regarding both the issues

[2022-04-05 15:00] Justin-21 commented on #134
heyy i want to work in this issue ...
can you assign me ?
I'm Gssoc 22 contributor

[2022-04-06 04:41] BRAVO68WEB commented on #124
Due to inactivity
I am unassigning @himanshusanecha

[2022-04-06 04:42] BRAVO68WEB commented on #134
Its was never an issue

[2022-04-06 04:42] #134 closed

[2022-04-06 05:15] Justin-21 commented on #124
I have a doubt I think the GitHub API should implement in backend or middleware .. right??
or we should directly use it in the front end??

[2022-04-06 05:19] BRAVO68WEB commented on #124
@Justin-21 I will leave it upto you

API reference :- https://api.github.com/repos/bravo68web/url-minify/contributors

[2022-04-06 05:19] BRAVO68WEB commented on #124
I would suggest go for frontend implementation

[2022-04-06 05:32] Justin-21 commented on #124
Yep, now I can figure out that my task is to show this data in the front end through this API .. right??

[2022-04-06 05:34] BRAVO68WEB commented on #124
yes

[2022-04-06 05:39] Justin-21 commented on #124
ok, thank you.
i can resolve it as soon as I can

[2022-04-17 10:13] akankshat05 commented on #112
@BRAVO68WEB Can I take up this issue?
I am planning to include a button with an icon to toggle the mode in the header.
![Screenshot_12](https://user-images.githubusercontent.com/72144454/163710112-c111328f-c2ac-4c62-95ba-0dbfdfa4b04f.png)
![Screenshot_13](https://user-images.githubusercontent.com/72144454/163710118-5fc2c80a-8e08-40f2-8e96-376fdd3d8baa.png)

[2022-04-17 10:23] BRAVO68WEB commented on #112
Sure Go ahead

[2022-04-17 16:33] akankshat05 opened #136 "Redirect to Home page on click of logo"
**Is your feature request related to a problem? Please describe.**
Currently if we are on credits or login page, we need to click on the back button to go back to the home page.

**Describe the solution you'd like**
Redirect to home page on click of the logo.
![Screenshot_9](https://user-images.githubusercontent.com/72144454/163723756-ef9ac5c2-cdcd-43fa-8e09-583beebefc7a.png)

**Describe alternati

[2022-04-17 16:34] akankshat05 commented on #136
@BRAVO68WEB can i work on this issue?

[2022-04-17 16:41] BRAVO68WEB commented on #136
Good take @akankshat05 Go ahead

[2022-04-18 04:47] akankshat05 commented on #136
@BRAVO68WEB can you add this under GSSoC22?

[2022-04-18 12:30] Olaleye-Blessing commented on #124
@BRAVO68WEB Can I work on this?

[2022-04-18 12:43] Olaleye-Blessing opened #137 "URL is not minified"
**Describe the bug**
URL is not minified when minify button is clicked.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [URL MiniFy](https://minfy.xyz/)
2. Input **https://dev.to/**
3. Click on minify button
4. Nothing is generated

**Expected behavior**
1. There should be a result, at least the shortened URL instead of nothing.

**Screenshots**
![Screenshot (356)](https://user-images.

[2022-04-18 12:51] Olaleye-Blessing opened #138 "Authentication buttons should be disabled if input fields are not filled"
**Is your feature request related to a problem? Please describe.**
A user can currently submit button on [sign up page](https://minfy.xyz/signup) and [login page](https://minfy.xyz/login) even if no field value is provided.

**Describe the solution you'd like**
Those buttons should be disabled if all fields are not filled.

**Describe alternatives you've considered**
 ----

**Additional context**

[2022-04-18 15:06] BRAVO68WEB commented on #124
Go ahead @Olaleye-Blessing

[2022-04-18 15:07] BRAVO68WEB commented on #137
Go ahead @Olaleye-Blessing

[2022-04-19 10:49] #124 closed

[2022-04-19 12:08] #137 closed

[2022-04-19 15:36] BRAVO68WEB commented on #138
Ahhh... Ok ahead @Olaleye-Blessing

[2022-04-20 21:13] #136 closed

[2022-04-21 04:31] #138 closed

[2022-04-22 10:37] #123 closed

[2022-04-23 10:54] BRAVO68WEB opened #145 "[FRONTED] Integrated the acc menu navbar"
Make the account nav menu functional. Integrated it to logged in users and also others accordingly

[2022-04-23 10:55] BRAVO68WEB opened #146 "[FRONTEND] Integrated user's name shown in Dashboard"
Integrated user's name shown in Dashboard when logged in.

[2022-04-23 10:57] BRAVO68WEB opened #147 "[FRONTED] Integrate the Dashboard tiles"
Fetch data from API to show on the Dashboard tiles.

[2022-04-23 11:00] BRAVO68WEB opened #148 "[FRONTEND + Integration] Create API Keys Page"
Create a section in dashboard for users to generate API key

[2022-04-23 11:05] BRAVO68WEB opened #149 "[FRONTEND] Create a API Status Badge on the Footer of the Website"
Show a badge on the Footer about the Status of API

Fetch From :- https://caio.b68dev.xyz/checks/2.json

[2022-04-24 14:25] Anirban-1490 commented on #146
umm... assign me this . and like which area i will implement it?

[2022-04-24 14:28] Anirban-1490 commented on #147
can you give some more context to this. i am not understanding properly

[2022-04-24 15:10] BRAVO68WEB commented on #147
If a user logs in he should see total views, total links created , etc expect the graph on home dashboard

[2022-04-24 18:13] Anirban-1490 commented on #147
ok assign me this i will try

[2022-04-25 03:09] BRAVO68WEB commented on #146
Try to register and login, you will get it

[2022-04-25 10:11] Anirban-1490 commented on #146
Here you mean ?
![Opera Snapshot_2022-04-25_154059_minfy xyz](https://user-images.githubusercontent.com/82874704/165069137-13eaf47d-3e55-4a19-8df0-4ae16bf1eeff.png)

[2022-04-25 15:31] BRAVO68WEB commented on #146
Create a account and login

[2022-04-25 16:57] BRAVO68WEB commented on #146
Yes

[2022-04-25 16:58] BRAVO68WEB commented on #146
yes

[2022-04-25 16:59] Anirban-1490 commented on #146
ok

[2022-04-26 18:56] akankshat05 commented on #149
@BRAVO68WEB can i take up this issue?

[2022-04-26 18:56] akankshat05 commented on #149
references of badge from - https://codepen.io/jimlamb/pen/WQjByb

[2022-04-26 19:04] akankshat05 commented on #148
@BRAVO68WEB I can work on this, but do provide some suggestions for this!

[2022-04-26 19:09] akankshat05 commented on #145
@BRAVO68WEB I can work on this

[2022-04-26 21:59] BRAVO68WEB commented on #148
Alright

[2022-04-26 21:59] BRAVO68WEB commented on #145
Ok

[2022-04-26 22:03] BRAVO68WEB commented on #112
@akankshat05 any progress

[2022-04-27 05:12] akankshat05 commented on #112
@BRAVO68WEB I will make a PR for it today

[2022-04-27 05:33] BRAVO68WEB commented on #112
Great

[2022-04-27 17:58] Anirban-1490 commented on #147
can you give some more details on how the total views will work. and how the individual views will be counted?

[2022-04-28 23:33] BRAVO68WEB commented on #147
@Anirban-1490
total links generated :- total links generated by the logged user
for total views :- total views on that user's links

for links active :- links which was marked as active

[2022-04-28 23:41] Anirban-1490 commented on #147
Ok so.
Total views is total views from all of users link that has a mail id attach( by looges user)
But for links how can i mark a link active?
And also there was another views card at the top . What should i do with it

[2022-04-29 00:44] BRAVO68WEB commented on #147
When even a link is visited,
The view gets increased

This means the records gets updated
If you see at record got updated 3 weeks ago count as inactive.

[2022-04-29 08:06] Anirban-1490 commented on #147
ok so if no views coming at max. after 3 weeks then it's inactive and then what about the view card at the top left
![Opera Snapshot_2022-04-29_133358_minfy xyz](https://user-images.githubusercontent.com/82874704/165906866-d5a34118-b26a-4a61-a0fb-cd2f4e4f182e.png)

[2022-04-29 16:53] akankshat05 opened #152 "Unusual behaviour after user logged in"
**Describe the bug**
I have created an account using email and logged in using the same. The profile, account , dashboard, logout options are unfunctional and showing unusual behavior after it.

**Expected behavior**
Making the options functional.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: WINDOWS 1

[2022-04-30 16:21] #112 closed

[2022-05-02 05:30] Palak-137 commented on #152
Hey, those pages have not been linked with the navbar component so it's showing this behavior. if you are interested to solve go ahead.

[2022-05-02 13:00] akankshat05 commented on #152
@Palak-137 I'll work on this

[2022-05-06 16:12] satyam-mahajan commented on #146
@Anirban-1490 gives as try.

[2022-05-06 16:16] Anirban-1490 commented on #146
Thank you . Giving it a try

[2022-05-06 17:31] Anirban-1490 commented on #146
i want to work on it but i have a pull currently open for another issue, can you please check that so that i can work on this one ?

[2022-05-08 09:45] BRAVO68WEB opened #153 "[FRONTEND + Integration] Added Login Successful/Failure side popup"
Add the pop up show if the user's credentials are validated in login and registration page. Like "Successfully Logged In", "Successfully Registered" and "Invalid Credentials"

[2022-05-09 03:40] #147 closed

[2022-05-12 08:50] BRAVO68WEB commented on #153
Case 1 according to you. Just show according to API response.

[2022-05-12 09:42] Anirban-1490 commented on #153
meaning whatever error server returns i will show it ?

[2022-05-12 12:31] BRAVO68WEB commented on #153
Yes

[2022-05-15 18:58] Anirban-1490 commented on #153
ok assign me this i will see it

[2022-05-16 16:32] BRAVO68WEB commented on #153
Pop up

Check here https://short.b68dev.xyz

[2022-05-17 18:30] Anirban-1490 commented on #153
@BRAVO68WEB  This looks good ?

https://user-images.githubusercontent.com/82874704/168884811-70653a7b-d56a-42c2-ac2e-9cd81bb33b05.mp4

[2022-05-18 06:06] BRAVO68WEB commented on #153
Yes @Anirban-1490 You doing great

[2022-05-18 07:09] #146 closed

[2022-05-18 07:33] BRAVO68WEB commented on #79
@Palak-137 or @satyam-mahajan Can you fix this?

[2022-05-18 07:34] BRAVO68WEB commented on #152
@akankshat05 Any updates?

[2022-05-18 09:27] akankshat05 commented on #152
@BRAVO68WEB I'm working on it

[2022-05-18 12:00] Anirban-1490 commented on #153
👀👀👀👀

[2022-05-21 15:18] #153 closed

[2022-05-28 06:21] whitewalker01 opened #156 "All Bottom buttons on the web-page gives 404 error"
Bug:
Clicking on any of the buttons namely - "counter", "QR code", "Robust API", the site  takes time and loads a "404-error" page.

![image](https://user-images.githubusercontent.com/55129700/170813193-a927e55d-19fa-4a80-85df-336d6d550d85.png)

[2022-05-28 07:05] BRAVO68WEB commented on #156
Are you willing to fix it @whitewalker01

[2022-05-28 15:56] whitewalker01 commented on #156
Sure, please do add tags and assign it to me.
I will be going through code and maybe I can chat on discord.

[2022-05-28 16:51] BRAVO68WEB commented on #156
Sure

[2022-06-16 12:58] rakeshhotker commented on #79
is this issue still open?

[2022-06-16 16:45] BRAVO68WEB commented on #79
Yes

[2022-06-28 03:32] #149 closed

[2022-06-28 03:32] #74 closed

[2022-06-28 03:32] #79 closed

[2022-06-28 03:32] #145 closed

[2022-06-28 03:32] #148 closed

[2022-06-28 03:32] #152 closed

[2022-06-28 03:32] #156 closed

[2022-10-01 06:01] Hritik-Verma41 opened #158 "Adding a Dark Mode background image for same background theme"
## **Your website is really cool and useful but, I have noticed that it misses a proper dark theme background image. I would like to add this feature to your website.**

### **Currently it looks like:**
![image](https://user-images.githubusercontent.com/75332256/193394907-18168356-87e3-4243-b0aa-981d6074b1e3.png)

### **After the updated background the theme will be like:**
![image](https://user-i

[2022-10-01 06:38] Hritik-Verma41 commented on #158
## Also, can you please add HACKTOBERFEST-ACCEPTED label to this issue

[2022-10-05 04:46] #158 closed, assigned to nobody